build-*
firmware/build/
firmware/.settings/language.settings.xml
*.prefs
# Altium Designer files
*.PrjPCBStructure
*.SchDocPreview
*.PcbDocPreview
__Previews/
*.PrjPcbStructure
*.Dat
*.REP 
*.TLT
*.LOG
*.log
*.htm
History/
Project Logs*/
Project Outputs*/
**/History
*.PrjPCBStructure
*.SchDocPreview
*.PcbDocPreview
*.$$$
*.BOM
*.OutJob
*.pdf
*.CSV
*.csv
*.html
*.HTML
*.PrjPcbVariants
*.PrjPcbSettings
*.PrjPCBSettings
*.PrjMbdStructure
*.PrjPCBStructure
*.PrjScr
*.apr
*.DRC
*.drc
*.html
*.apr
*.APR
*.DXF
*.EXTREP
*.GBR
*.GKO
*.GPB
*.GTP
*.GTS
*.REP
*.RUL
*.user.prefs
*.NET
*.xlsx
*.zip
*.rar
*.7z
*.bak
# PDN Analyzer
PDNAnalyzer_Output/

# Firmware/IDE files
*.o
*.d
*.crf
*.dep
*.map
*.bak
*.lst
*.i
*.obj
*.iex
*.pbi
*.cout
*.pbd
*.browse
*.tmp
*.ewt
*.ewd
*.cspy.bat
*.cspy.ps1
*.dbgdt
*.dnx
*.wsdt
*.dbgconf
*.jlink
*.axf
*.hex
*.bin
*.elf
*.a
*.lib
*.out
*.sim
*.pdb
*.ilk
*.idb
*.pch
*.ncb
*.opt
*.plg
*.bsc
*.sbr
*.suo
*.user
*.sdf
*.opensdf
*.VC.db
*.VC.opendb
Debug/
Release/
.vs/
__vm/
.vscode/

# Operating System files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
desktop.ini 
